<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Ionic Framework </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Ionic Framework</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list class="theme-list" lines="full">
        <ion-item>
            <ion-icon
                slot="start"
                icon="moon"
                class="component-icon component-icon-dark"
            ></ion-icon>
            <ion-label> Dark Mode </ion-label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list class="home-list">
        <ng-container *ngFor="let item of components">
            <ion-item [routerLink]="item.id">
                <ion-icon
                    slot="start"
                    [icon]="item.icon"
                    class="component-icon component-icon-primary"
                ></ion-icon>
                <ion-label>{{ item.name }}</ion-label>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
